.my-view {
    
    height:300px;
    width:300px;
    line-height:300px;
    margin:0 auto;
    text-align:center;
    background:#000;
    color:#fff;
    border:#c1c1c1;
    position:absolute;
}

.opacity-down {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;
}